In [48]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import json

In [2]:
strokeDt = pd.read_csv("../data/healthcare-dataset-stroke-data.csv")
strokeDt = strokeDt.drop_duplicates()
strokeDt.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
print(strokeDt.dtypes)

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [27]:
people = []
for i in strokeDt["gender"]:
    person = {"gender" : "",
              "age" : "",
              "hypertension": "",
              "heart_disease" : "",
              "ever_married": "",
              "work_type": "",
              "Residence_type": "",
              "avg_glucose_level": "",
              "smoking_status" : "",
              "stroke" : ""
             }
    if i == "Female":
        person["gender"] = 1
        people.append(person)
    elif i == "Male":
        person["gender"] = 2
        people.append(person)
    else:
        person["gender"] = 3
        people.append(person)

In [28]:
print(len(strokeDt["gender"]))
print(len(people))

5110
5110

In [29]:
for i in people[0:10]:
    print(i["gender"])

2
1
2
1
1
2
2
1
1
1

In [43]:
j = 0
for i in strokeDt["age"]:
    if math.isnan(i):
        people[j]["age"] = -1
    else:
        people[j]["age"] = i
    j += 1

In [44]:
j = 0
for i in strokeDt["hypertension"]:
    if math.isnan(i):
        people[j]["hypertension"] = -1
    else:
        people[j]["hypertension"] = i
    j += 1

In [45]:
j = 0
for i in strokeDt["heart_disease"]:
    if math.isnan(i):
        people[j]["heart_disease"] = -1
    else:
        people[j]["heart_disease"] = i
    j += 1

In [34]:
j = 0
for i in strokeDt["ever_married"]:
    if i == "Yes":
        people[j]["ever_married"] = 0
    elif i == "No":
        people[j]["ever_married"] = 1
    else:
        people[j]["ever_married"] = 2
    j += 1

In [35]:
j = 0
for i in strokeDt["work_type"]:
    if i == "children":
        people[j]["work_type"] = 0
    elif i == "Govt_jov":
        people[j]["work_type"] = 1
    elif i == "Never_worked":
        people[j]["work_type"] = 2
    elif i == "Private":
        people[j]["work_type"] = 3
    else:
        people[j]["work_type"] = 4
    j += 1

In [37]:
j = 0
for i in strokeDt["Residence_type"]:
    if i == "Rural":
        people[j]["Residence_type"] = 0
    else:
        people[j]["Residence_type"] = 1
    j += 1

In [38]:
j = 0
for i in strokeDt["avg_glucose_level"]:
    people[j]["avg_glucose_level"] = i
    j += 1

In [40]:
j = 0
for i in strokeDt["bmi"]:
    if math.isnan(i):
        people[j]["bmi"] = -1
    else:
        people[j]["bmi"] = i
    j += 1

In [41]:
j = 0
for i in strokeDt["smoking_status"]:
    if i == "formerly smoked":
        people[j]["smoking_status"] = 0
    elif i == "never smoked":
        people[j]["smoking_status"] = 1
    elif i == "smokes":
        people[j]["smoking_status"] = 2
    else:
        people[j]["smoking_status"] = -1
    j += 1

In [46]:
j = 0
for i in strokeDt["stroke"]:
    if math.isnan(i):
        people[j]["stroke"] = -1
    else:
        people[j]["stroke"] = i
    j += 1

In [47]:
print(people[0])

{'gender': 2, 'age': 67.0, 'hypertension': 0, 'heart_disease': 1, 'ever_married': 0, 'work_type': 3, 'Residence_type': 1, 'avg_glucose_level': 228.69, 'smoking_status': 0, 'stroke': 1, 'bmi': 36.6}

In [49]:
exporting = json.dumps(people,indent = 4)

In [51]:
f = open("../data/strokeData.json","w")
f.write(exporting)
f.close()